<div class="row">
    <div class="col">
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <span class="navbar-brand mb-0 h1">KnightsContacts</span>

            <div class="d flex col">
                <form class="inline">
                    <div class="input-group mx-1">
                        <div class="input-group-prepend">
                            <button (click)="searchContacts()" class="btn btn-primary bg-search border-0" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                        <input type="text" [(ngModel)]="search" name="search" class="form-control input-lg"
                            placeholder="Search Contacts...">
                    </div>
                </form>
            </div>

            <button type="button" class="btn btn-primary mx-1" (click)="open(addContactModal)">
                Add Contact
                <i class="fa fa-plus"></i>
            </button>

            <button type="button" class="btn btn-primary mx-1" (click)="open(logoutModal)">
                Sign Out
                <i class="fa fa-sign-out"></i>
            </button>
        </nav>

        <ul class="list-group pull-down" style="margin-top: 56px" id="contact-list">
            <li *ngFor="let contact of contacts" class="list-group-item">
                <app-contact [contact]="contact" (getContactsOutput)="getContacts()"></app-contact>
            </li>
        </ul>
    </div>
</div>

<ng-template #addContactModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{modalTitle.addContact}}</h4>
        <button type="button" class="close" (click)="modal.dismiss('addContact')">
            <span>&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p class="text-danger mb-1">{{displayedError}}</p>
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <div class="input-group">
                    <input type="text" name="name" [(ngModel)]="addContactForm.name" id="name" class="form-control"
                        autofocus>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <div class="input-group">
                    <input type="text" name="email" [(ngModel)]="addContactForm.email" id="email" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <div class="input-group">
                    <input type="text" name="phone" [(ngModel)]="addContactForm.phone" id="phone" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <div class="input-group">
                    <input type="text" name="address" [(ngModel)]="addContactForm.address" id="address"
                        class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="Notes">Notes</label>
                <textarea class="form-control" id="Notes" rows="3" input type="text" name="notes"
                    [(ngModel)]="addContactForm.notes">
                </textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('addContact')">Save</button>
    </div>
</ng-template>

<ng-template #logoutModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{modalTitle.logout}}</h4>
        <button type="button" class="close" (click)="modal.dismiss('logout')">
            <span>&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger m-0" role="alert">
            Are you sure you want to logout?
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="modal.close('logout')">Logout</button>
    </div>
</ng-template>