<div class="row">
    <div class="col">
      <nav class="navbar navbar-dark bg-dark fixed-top">
        <span class="navbar-brand mb-0 h1">KnightsContacts</span>

        <div class="d flex col">
            <form class="inline">
                <div class="input-group mx-1">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fa fa-search"></i>
                      </span>
                  </div>
                  <input type="text" class="form-control input-lg" placeholder="Search Contacts...">
                </div>
              </form>
          </div>

          <button type="button" class="btn btn-outline-primary mx-1">
              <i class="fa fa-plus"></i>
          </button>

          <button type="button" class="btn btn-outline-primary mx-1">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
          </button>
      </nav>

      <ul class="list-group pull-down" style="margin-top: 56px" id="contact-list">
          <li *ngFor="let contact of contacts" class="list-group-item">
              <app-contact [contact]="contact"></app-contact>
          </li>
      </ul>
    </div>
</div>
