.navbar-brand {
  color: #ffc904;
  &:hover {
    color: #ffc904;
  }
}

.fa-plus,
.fa-sign-out {
  color: #ffc904;
}

.btn-primary {
  background-color: black;
  border-color: black;
  &:hover,
  &:active {
    background-color: #ffc900 !important;
    .fa-plus,
    .fa-sign-out {
      color: white;
    }
  }
}

.bg-search {
  background-color: #ffc900;
}

.bg-image {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.centered {
  position: absolute;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
