.navbar-brand {
  color: #ffc904;
  &:hover {
    color: #ffc904;
  }
}

.btn-primary {
  background-color: black;
  border-color: black;
  &:hover,
  &:active,
  &:focus {
    background-color: #ffc900 !important;
    .fa-plus,
    .fa-sign-out {
      color: white;
    }
  }
}
