.navbar-brand {
  color: #ffc904;
  &:hover {
    color: #ffc904;
  }
}

.fa-plus, .fa-sign-out {
  color: #ffc904;
}

.btn-primary {
  background-color: black;
  border-color: black;
  &:hover,
  &:active {
    background-color: #ffc900 !important;
    .fa-plus,
    .fa-sign-out {
      color: white;
    }
  }
}

.bg-search {
  background-color: #ffc900;
}