<div class="row w-100">
    <div class="col-12 col-sm-6 col-md-3 px-0">
        <img src="assets/images/default-contact-image.png" height="120" width="120"
            class="rounded-circle mx-auto d-block img-fluid">
    </div>
    <div class="col-12 col-sm-6 col-md-9 text-center text-sm-left">
        <label class="name lead">{{contact.name}}</label>
        <br>
        <span class="fa fa-map-marker fa-fw text-muted" data-toggle="tooltip" title=""
            data-original-title="address"></span>
        <span class="text-muted">{{contact.address}}</span>
        <br>
        <span class="fa fa-phone fa-fw text-muted" data-toggle="tooltip" title=""
            data-original-title="phone"></span>
        <span class="text-muted small">{{contact.phone}}</span>
        <br>
        <span class="fa fa-envelope fa-fw text-muted" data-toggle="tooltip" data-original-title="" title=""></span>
        <span class="text-muted small text-truncate">{{contact.email}}</span>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="dateOfBirth">Date of birth</label>
                <div class="input-group">
                    <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                        #dp="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

<hr>

<pre>{{closeResult}}</pre>
