<div class="row w-100">
    <div class="col-12 col-sm-6 col-md-3 px-0">
        <img [src]="imgURL" height="150" width="150"
            class="rounded-circle mx-auto d-block img-fluid">
    </div>

    <div class="col-12 col-sm-6 col-md-9 text-center text-sm-left">
        <label class="name lead">{{contact.name}}</label>
        <br>
        <span class="fa fa-address-card-o fa-fw text-muted" data-toggle="tooltip" data-original-title="notes"></span>
        <span class="text-muted small">{{contact.notes}}</span>
        <br>
        <span class="fa fa-map-marker fa-fw text-muted" data-toggle="tooltip" data-original-title="address"></span>
        <span class="text-muted small">{{contact.address}}</span>
        <br>
        <span class="fa fa-phone fa-fw text-muted" data-toggle="tooltip" data-original-title="phone"></span>
        <span class="text-muted small">{{contact.phone}}</span>
        <br>
        <span class="fa fa-envelope fa-fw text-muted" data-toggle="tooltip" data-original-title=""></span>
        <span class="text-muted small text-truncate">{{contact.email}}</span>
    </div>
</div>

<button type="button" (click)="open(deleteContactModal)" class="btn btn-outline-danger mx-1" style="float: right;">
    <i class="fa fa-trash"></i>
</button>

<button type="button" (click)="open(editContactModal)" class="btn btn-outline-primary mx-1" style="float: right;">
    <i class="fa fa-pencil"></i>
</button>

<ng-template #editContactModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{modalTitle.edit}}</h4>
        <button type="button" class="close" (click)="modal.dismiss('edit')">
            <span>&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <div class="input-group">
                    <input type="text" name="name" [(ngModel)]="editContactForm.name" id="name" class="form-control"
                        autofocus>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <div class="input-group">
                    <input type="text" name="email" [(ngModel)]="editContactForm.email" id="email" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <div class="input-group">
                    <input type="text" name="phone" [(ngModel)]="editContactForm.phone" id="phone" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <div class="input-group">
                    <input type="text" name="address" [(ngModel)]="editContactForm.address" id="address"
                        class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="Notes">Notes</label>
                <textarea class="form-control" id="Notes" rows="3" input type="text" name="notes"
                    [(ngModel)]="editContactForm.notes">
              </textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('edit')">Save</button>
    </div>
</ng-template>

<ng-template #deleteContactModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{modalTitle.delete}}</h4>
        <button type="button" class="close" (click)="modal.dismiss('delete')">
            <span>&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger m-0" role="alert">
            Are you sure you want to delete {{contact.name}}?
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="modal.close('delete')">Delete</button>
    </div>
</ng-template>